<h1>Dear members, </h1>
<p>
  <h2>Catch up with your league '<%= @league.title %>'.</h2>
  You have a message from your league chairman, <b><%= @current_user.fname %></b>:

  <p><i>'<%= @body %>'</i></p>
</p>
